* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 428px;
  height: 926px;
  background: #6e6662;
  margin: 0 auto;
}
#primary-image {
  margin: 47px 152px 0 135px;
  width: 141px;
  height: 141px;
  background: url(img/IMG-20230817-WA0004.jpg) center;
  background-size: cover;
  border-radius: 50%;
}
h1 {
  margin: 0 146px 0 140px;
  color: #000;
  font-family: elsie;
  font-size: 58px;
  font-weight: 900;
}
p {
  margin: 0 105px 19px 103px;
  color: #000;
  font-family: Cambria, serif;
  font-size: 18px;
  font-weight: 400;
}
#vetor {
  margin: -40px 93px 9px 94px;
  width: 240.5px;
  height: 40px;
  stroke-width: 1px;
  stroke: #000;
}
#description {
  color: #000;
  font-family: Cambria;
  font-size: 0.75rem;
  margin-top: 3.37px;
}
button > a {
  text-decoration: none;
  color: #fff;
}
.principal {
  margin: 0 42px 0 39px;
  padding: 56px 35px 55px 36px;
  width: 347px;
  height: 460px;
  border-radius: 40px;
  border: 1px solid #292422;
  background: #879676;
}
.principal button {
  margin-bottom: 83px;
  width: 276px;
  height: 61px;
  border-radius: 50px;
  border: 1px solid #292422;
  background: #a3c68c;
  box-shadow: 6px 6px 3px 0 rgba(0, 0, 0, 0.4);
}
.fist-buttons {
  font-family: Bungee;
  font-size: 26px;
  color: #fff;
  border: 4px solid #292422;
  transition: linear 0.3s;
}
.fist-buttons:active {
  transform: scale(0.9);
}
.icons {
  margin: 37px 42px 57px 39px;
  width: 347px;
  height: 75px;
  border-radius: 50px;
  border: 1px solid #292422;
  background: #879676;
  box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
}
.icons > a {
  text-decoration: none;
}
.icons-click button {
  width: 46px;
  height: 46px;
  background-color: #a3c68c;
  border-width: 1px;
  border: #292422;
  border-radius: 50%;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
}
#icon1 {
  margin: 14px 86px 15px 84px;
}
#discord {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
}
#discord:hover {
  transform: scale(1.1);
}
#discord:active {
  transform: scale(0.9);
}
#icon2 {
  margin: 14px 85px 15px;
}
#github {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
}
#github:hover {
  transform: scale(1.1);
}
#github:active {
  transform: scale(0.9);
}
footer > p {
  color: #fff;
  font-family: Cambria, serif;
  font-size: 12px;
  margin-left: 184px;
  padding-bottom: 9px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 428px;
    height: 926px;
    background: #6e6662;
    margin: 0 auto;
    overflow-x: hidden;
  }
  #primary-image {
    margin: 47px 152px 0 135px;
    width: 141px;
    height: 141px;
    background: url(img/IMG-20230817-WA0004.jpg) center;
    background-size: cover;
    border-radius: 50%;
  }
  h1 {
    margin: 0 146px 0 140px;
    color: #000;
    font-family: elsie;
    font-size: 58px;
    font-weight: 900;
  }
  p {
    margin: 0 105px 19px 103px;
    color: #000;
    font-family: Cambria, serif;
    font-size: 18px;
    font-weight: 400;
  }
  #vetor {
    margin: -40px 93px 9px 94px;
    width: 240.5px;
    height: 40px;
    stroke-width: 1px;
    stroke: #000;
  }
  #description {
    display: none;
  }
  button > a {
    text-decoration: none;
    color: #fff;
  }
  .principal {
    margin: 0 42px 0 39px;
    padding: 56px 35px 55px 36px;
    width: 347px;
    height: 460px;
    border-radius: 40px;
    border: 1px solid #292422;
    background: #879676;
  }
  .principal button {
    margin-bottom: 83px;
    width: 276px;
    height: 61px;
    border-radius: 50px;
    border: 1px solid #292422;
    background: #a3c68c;
    box-shadow: 6px 6px 3px 0 rgba(0, 0, 0, 0.4);
  }
  .fist-buttons {
    font-family: Bungee;
    font-size: 26px;
    color: #fff;
    border: 4px solid #292422;
    transition: linear 0.3s;
  }
  .fist-buttons:active {
    transform: scale(0.9);
  }
  .icons {
    margin: 37px 42px 57px 39px;
    width: 347px;
    height: 75px;
    border-radius: 50px;
    border: 1px solid #292422;
    background: #879676;
    box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .icons > a {
    text-decoration: none;
  }
  .icons-click button {
    width: 46px;
    height: 46px;
    background-color: #a3c68c;
    border-width: 1px;
    border: #292422;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
  }
  #icon1 {
    margin: 14px 86px 15px 84px;
  }
  #discord {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -12px;
    margin-top: -11px;
  }
  #discord:hover {
    transform: scale(1.1);
  }
  #discord:active {
    transform: scale(0.9);
  }
  #icon2 {
    margin: 14px 85px 15px;
  }
  #github {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
  }
  #github:hover {
    transform: scale(1.1);
  }
  #github:active {
    transform: scale(0.9);
  }
  footer > p {
    color: #fff;
    font-family: Cambria, serif;
    font-size: 12px;
    margin-left: 184px;
    padding-bottom: 9px;
  }
}

/*O arquivo de está compactado ! */
